h1{
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    color: rgb(15, 105, 90);
}

H2{
    font-family: fantasy;
    color: blue;
}

p{
    color: black;
}
div{
    color: rgb(88, 122, 8);
}