/NetBeans Java/Ejercicios Guia/Dia4_Ejercicio6_Guia/nbproject/private/
/NetBeans Java/Ejercicios Guia/Dia4_Ejercicio6_Guia/build/
/NetBeans Java/Ejercicios Guia/Dia4_Ejercicio7_Guia/nbproject/private/
/NetBeans Java/Ejercicios Guia/Dia4_Ejercicio7_Guia/build/
/NetBeans Java/Ejercicios Guia/Dia4_Ejericio8_Guia/nbproject/private/
/NetBeans Java/Ejercicios Guia/Dia4_Ejericio8_Guia/build/
/NetBeans Java/Ejercicios Guia/DIa4_EJercicio9_Guia/nbproject/private/
/NetBeans Java/Ejercicios Guia/DIa4_EJercicio9_Guia/build/
/NetBeans Java/Ejercicios Guia/Dia4_Ejercicio10_Guia/nbproject/private/
/NetBeans Java/Ejercicios Guia/Dia4_Ejercicio10_Guia/build/